@import url("./font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Regular-Swiss", Arial, sans-serif;
  color: #55565e;
  overscroll-behavior: none; /* Prevent bounce effect */
}
